* {
  margin: 10px;
  background-color: white;
}

.todo-item {
  width: 500px;
  border: 1px solid dodgerblue;
  margin: 10px;
  background-color: rgb(137, 195, 254);
}

.addButton {
  color: white;
  background-color: rgb(137, 195, 254);
}

.finButton {
  background-color: rgb(243, 191, 234);
  border: 2px solid rgb(239, 121, 140);
}